body {
  margin: 0;
  padding: 0;
}

header{
  background: #EFEDED;
  position: fixed;
  height: 80px;
  width: 100%;
}

ul{
  display: flex;
  float: right;
  list-style: none;
  width: 40%;
}

nav ul li{
  width: 15%;
  padding: 3% 2%;
  color: #b1bad0;
}

[data-contenido-pagina="cotenedor"]{
  background: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
