body {
  margin: 0;
  padding: 0;
}

header{
  background: #EFEDED;
  position: relative;
  height: 80px;
  width: 100%;
}

ul{
  display: flex;
  float: right;
  font-family: sans-serif;
  list-style: none;
  width: 40%;
}

nav ul li{
  width: 15%;
  padding: 3% 5%;
  color: #b1bad0;
}

h1{
  font-family: sans-serif;
  font-size: 20px;
}

p{
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #b1bad0;
  font-family: sans-serif;
}

[data-contenido-pagina="cotenedor"]{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  display: block;
  float: left;
  clear: none;
}

#contenedor1{
  display: block;
  height: 100vh;
  background: #e8e8e8;
}

#contenedor1 header{
  background: #e8e8e8;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

#contenedor1 header h1{
  color: #737c93;
  margin: 0;
  padding-top: 10%;
  font-size: 45px;
}
.contenido_contenedor1{
  width: 100%;
  height: auto;
  display: block;
  bottom: 0;
  position: absolute;
}

[data-contenido="halo1"]{
  width: 69%;
  height: 100%;
  border: 2px solid rgb(189, 216, 254);
  background: linear-gradient(to top, rgba(255,0,0,0), rgb(137, 181, 243));
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 942px 942px 0 0;
  margin: 0 auto;
  padding-top: 31%;
}

[data-contenido="halo2"]{
  width: 60%;
  height: 89%;
  border: 2px solid rgb(189, 216, 254);
  background: linear-gradient(to top, rgba(255,0,0,0), rgb(168, 197, 238));
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 990px 982px 0 0;
  margin: 0 20%;
  position: absolute;
  bottom: 0;

}
[data-contenido="circunferencias"]{
  width: 50%;
}

.forma1{
  background:#66cdde;
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  display: block;
  z-index: 111;
  margin-top: -223px;
  margin-left: 44%;
  border-radius: 51px;
  border: 5px solid #fff;
}

hr[title*="linea1"]{
  border: 3px dashed #7faadc;
  transform: rotate(23deg);
  transform-origin: 20% 40%;
  position: relative;
  margin-top: -173px;
  margin-left: 50%;
  display: block;
  float: left;
  width: 28%;
}

hr[title*="linea2"]{
  border: 3px dashed #7faadc;
  transform: rotate(78deg);
  transform-origin: 20% 40%;
  position: relative;
  margin-top: -247px;
  margin-left: 69%;
  display: block;
  float: left;
  width: 28%;
}

hr[title*="linea3"]{
  border: 3px dashed #7faadc;
  transform: rotate(35deg);
  transform-origin: 20% 40%;
  position: relative;
  margin-top: -262px;
  margin-left: 73%;
  display: block;
  float: left;
  width: 28%;
}

hr[title*="linea4"]{
  border: 3px dashed #7faadc;
  transform: rotate(146deg);
  transform-origin: 20% 40%;
  position: relative;
  margin-top: -165px;
  margin-left: 116%;
  display: block;
  float: left;
  width: 19%;
}

hr[title*="linea5"]{
  border: 3px dashed #7faadc;
  transform: rotate(103deg);
  transform-origin: 20% 40%;
  position: relative;
  margin-top: -262px;
  margin-left: 124%;
  display: block;
  float: left;
  width: 18%;
}

hr[title*="linea6"]{
  border: 3px dashed #7faadc;
  transform: rotate(186deg);
  transform-origin: 20% 40%;
  position: relative;
  margin-top: -172px;
  margin-left: 140%;
  display: block;
  float: left;
  width: 28%;
}

img[src="img/web.png"]{
  width: 65%;
  padding: 18%;
}

.forma2{
  background: #66cdde;
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  display: block;
  z-index: 111;
  margin-top: -223px;
  margin-left: 146%;
  border-radius: 87px;
  border: 5px solid #fff;
}

img[src="img/movil.png"]{
  width: 38%;
  padding: 15% 31%;
}

.forma3{
  background: #de6686;
  width: 39px;
  height: 39px;
  position: relative;
  float: left;
  display: block;
  z-index: 111;
  margin-top: -136px;
  margin-left: 75%;
  border-radius: 87px;
  border: 5px solid #fff;
}

.forma4{
  background: #7966de;
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  display: block;
  z-index: 111;
  margin-top: -341px;
  margin-left: 67%;
  border-radius: 87px;
  border: 5px solid #fff;
}

img[src="img/pc.png"]{
  width: 64%;
  padding: 18%;
}

.forma5{
  background: #de66a8;
  width: 35px;
  height: 35px;
  position: relative;
  float: left;
  display: block;
  z-index: 111;
  margin-top: -201px;
  margin-left: 120%;
  border-radius: 87px;
  border: 5px solid #fff;
}

.forma6{
  background: #dea466;
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  display: block;
  z-index: 111;
  margin-top: -368px;
  margin-left: 123%;
  border-radius: 87px;
  border: 5px solid #fff;
}

img[src="img/equipo.png"]{
  width: 70%;
  padding: 18%;
}

.user{
  background-image: url(../img/user.png);
  display: block;
  position: relative;
  z-index: 111;
  float: left;
  background-size: cover;
  background-position: center;
  margin-top: -220px;
  margin-left: 573px;
  width: 220px;
  height: 220px;
}

#contenedor2{
  display: block;
  height: 100vh;
  background: #2e3a4a;
}
[data-contenido="cuadros"]{
  height: 100%;
  display: block;
  clear: both;
  width: 60%;
  margin: 0 auto;
  padding-top: 9%;
}

.cuadro{
  width: 31%;
  height: 35%;
  background: #6b5f98;
  display: block;
  float: left;
  margin: 6.5px;
}

.img_cuadro1{

}

#contenedor2 p{
  color: #fff;
  font-size: 24px;
  text-align: center;
}

#contenedor3{
  display: block;
  height: 100vh;
  background: #e8e8e8;
}

[data-contenido="cuadro_contenedor3"]{
  height: 100%;
  display: block;
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding-top: 19.2%;
}

.cuadro_contenedor3{
  width: 25%;
  height: 59.5%;
  background: #273140;
  display: block;
  float: left;
  margin: 0;
}

[data-contenido="foto1_contenedor3"]{
  width: 100%;
  height: 53%;
  background-image: url(../img/california.jpg);
  background-size: cover;
  background-position: center;
}

[data-contenido="foto2_contenedor3"]{
  width: 100%;
  height: 53%;
  background-image: url(../img/canada.jpg);
  background-size: cover;
  background-position: center;
}

[data-contenido="foto3_contenedor3"]{
  width: 100%;
  height: 53%;
  background-image: url(../img/california.jpg);
  background-size: cover;
  background-position: center;
}

[data-contenido="foto4_contenedor3"]{
  width: 100%;
  height: 53%;
  background-image: url(../img/canada.jpg);
  background-size: cover;
  background-position: center;
}

[data-contenido="textos_descripcion"]{
  height: 39%;
  width: 100%;
  margin: 0 auto;
}

.cuadro_contenedor3 section h1{
  padding-left: 5%;
  color: #fff;
}

.cuadro_contenedor3 section p{
  padding-left: 5%;
  color: #d2d2d2;
}


#contenedor4{
  display: block;
  height: 100vh;
  background: #2e3a4a;
}
